{% block title %}
{{ Lexicon.mobility_title }}
{% endblock %}

{% block content %}

<h3 style="font-size: 1.2rem">{{ Lexicon.mobility_subtitle }}</h3><br>

<form method="post">
    {% for field in form %}
        {{formfield_errors field.name}}
        <br><div>
            <b><label id="{{field.id}}" name="{{field.name}}"></label></b><br><br style="margin-bottom: 2px">
           {{field}}
            <br>
        </div>
    {% endfor %}
</form>

<div class="next-btn radiotable" style="clear: both;">
    <div style="padding-top: 2vh;">
        <button id="nextst" style="margin-top: 4vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
    </div>
</div>

<div style="height: 100px;"></div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        for (let i = 0; i < js_vars.form_fields.length; i++) {
            prop = js_vars.form_fields[i] + '_Label';
            label = js_vars.form_field_labels[i];
            id = 'id_' + js_vars.form_fields[i];
            $('#' + id).html(label);
        }
    });
</script>
{% endblock %}

