{% block title %}
  {{ Lexicon.pre_transition_title }}
{% endblock %}


{% block content %}

<div>
  <br><p>{{ Lexicon.pre_transition_thanks }}</p><br>
  <p><b>{{ Lexicon.pre_transition_info }}</b></p>
  <br>
</div>

<form method="post">
  {% for field in form %}
      {{formfield_errors field.name}}
      <br><div>
          <b><label id="{{field.id}}" name="{{field.name}}"></label></b><br><br style="margin-bottom: 2vh; padding-left:1vw;">
         {{field}}
          <br>
      </div>
  {% endfor %}
</form>

<div class="next-btn radiotable" style="clear: both;">
  <div style="padding-top: 2vh; padding-left:1vw;">
      <button id="nextst" style="margin-top: 2vh;" class="otree-btn-next btn btn-primary">{{Lexicon.next}}</button>
  </div>
</div>

<div style="height: 100px;"></div>

{% endblock %}


